nav#main-nav-container{
    background-color: #0282f9;
    height: 200px;
    .my-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            li{
                list-style: none;
                margin: 20px;
                a{
                    text-decoration: none;
                    color: white;
                    display: flex;
                    align-items: center;
                    div{
                        width: 70px;
                        margin-right: 20px;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}